body {
    padding: 0;
    margin: 0;
    background-color: #FDF8F8;
}

.container {
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
    height: 80vh;
    background-color: #F3BCC0
    /* position: absolute; */
}

.top h1 { 
    font-family: 'Palanquin', sans-serif;
    color: white;
    font-size: 5em;
    margin-left: 5vw;
    margin-top: 13vh;
    position: absolute;
    text-shadow: .2vw .2vw .2vw gray;
}

.top .hdua {
    margin-top: 29vh;
    margin-left: 13vw;
}

.masterimg {
    width: 56%;
    right: 0;
    position: absolute;
}

.tgl { 
    position: absolute;
    font-family: 'Roboto Mono', monospace;
    margin: .5vh 0 0 .5vw;
}

.sts { 
    position: absolute;
    right: 0;
    font-family: 'Roboto Mono', monospace;
    margin: 0.5vh 0.5vw 0 0;
}

/* ----------------------------------------------------------------------------------------------------- */

a { 
    text-decoration: none;
}

.box {
    width: 20vw;
    height: 37vh;
    background-color: white;
    display: inline-block;
    margin: -11vh 0 10vh 10vw;
    box-shadow: .2vw .2vw .9vw #e77b83;
    transition: .5s;
}

.box:hover {
    box-shadow: .8vw .6vw 2vw #e77b83;
    transition: .5s;
}

.fas {
    font-size: 4em;
    color: #d65d00;
    position: absolute;
    margin: 7vh 0 0 7.6vw;
}

.box h2 {
    color: black;
    font-family: 'Palanquin', sans-serif;
    text-align:center;
    margin-top: 20vh;
}
/* -------------------------------------------------------------------------------------------------------- */

.copy { 
    padding: 0;
    margin: 0 0 1vh 0;
    text-align: center;
}

/* ----------------------------------- */
